.video-icons__btn-showreal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 150px;
  height: 150px;
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 75px;
  border: 1px solid #fff;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .video-icons__btn-showreal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.video-icons__btn-showreal:hover {
  width: 100px;
  height: 100px;
}