.menu-item__btn-line {
  width: 20px;
  display: none;
  flex-shrink: 0;
  border-bottom: 1px solid #fff;
  align-self: flex-start;
  margin: 10px 0 10px 0;
  padding: 0;
}

@media screen and (min-width: 580px) {
  .menu-item__btn-line {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 1024px) {
  .menu-item__btn-line {
    display: flex;
  }
}

@media screen and (max-height: 390px) {
  .menu-item__btn-line {
    display: none;
  }
}