.menu-item__icon {
  display: block;
  width: 10px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/icons/arrow.svg);
  margin: 10px;
}

@media screen and (max-width: 1024px) {
  .menu-item__icon {
    display: none;
  }
}

@media screen and (max-height: 590px) {
  .menu-item__icon {
    display: none;
  }
}