.menu-item__title {
  font-size: 21px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  align-self: flex-start;
  color: #fff;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 580px) {
  .menu-item__title {
    text-align: center;
    align-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .menu-item__title {
    font-size: 32px;
    line-height: 32px;
  }
}

@media screen and (max-height: 440px) {
  .menu-item__title {
    font-size: 21px;
    line-height: 21px;
  }
}

@media screen and (max-height: 390px) {
  .menu-item__title {
    text-align: left;
    align-self: flex-start;
    font-size: 16px;
    line-height: 16px;
  }
}