.video-icons__btn_state_play {
  background-size: 11px 14px;
  background-image: url(../../../../images/icons/pause.svg);
}

.video-icons__btn_state_play:hover {
  background-image: url(../../../../images/icons/pause_a.svg);
}