.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/header__logo.svg);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.header__logo:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .header__logo {
    display: none;
  }
}

@media screen and (min-width: 426px) {
  .header__logo {
    width: 60px;
    height: 45px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 72px;
    height: 54px;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    width: 80px;
    height: 60px;
  }
}