.main-content__block {
  display: none;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 40px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row-align: center;
    align-self: center;
  -ms-grid-column-align: center;
    justify-self: center;
  margin: 160px 40px 120px;
}

@media screen and (max-height: 445px) {
  .main-content__block {
    margin: 120px 40px 80px;
  }
}