.menu-item__text {
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .menu-item__text {
    font-size: 21px;
    line-height: 21px;
  }
}

.menu-item__text:hover {
  font-weight: 600;
  color: #cfcfcf;
}