.header__btn-line {
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-bottom: 1px solid #fff;
  margin: 20px 0 0 0;
  padding: 0;
}