.video-icons__btn_type_play {
  background-size: 11px 14px;
  background-image: url(../../../../images/icons/play.svg);
}

.video-icons__btn_type_play:hover {
  background-image: url(../../../../images/icons/play_a.svg);
}