.main-content__overlay {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat;
  background-position: center;
  background-image: url(../../../images/back/overlay.png);
  -o-object-fit: cover;
     object-fit: cover;
}