.video-icons {
  box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 10px 30px;
  grid-template-columns: repeat(2, 30px);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}.video-icons > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.video-icons > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

@media screen and (max-width: 425px) {
  .video-icons {
    -ms-grid-columns: 50px 20px 50px;
    grid-template-columns: repeat(2, 50px);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}