.main-content__copyright {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
  row-gap: 10px;
  align-self: flex-end;
  justify-self: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin: 40px;
  padding: 0;
}

.main-content__copyright::before {
  content: "\00A9";
}

@media screen and (max-height: 310px) {
  .main-content__copyright {
    display: none;
  }
}