.menu {
  height: 100%;
  position: absolute;
  top: -100vh;
  left: 0;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
  grid-template-columns: 100vw;
  -ms-grid-rows: 100vh;
  grid-template-rows: 120px 1fr auto;
  background-color: #000;
  z-index: 10;
  visibility: hidden;
}